*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Libre Franklin', sans-serif ;
}
h1 {
    font-size: 54px;
    font-weight: 200;
    margin-top: 11px;
    margin-bottom: 40px;
    text-transform: capitalize;
    line-height: 110%;
    display: block;
    margin-left: 30px;
}
.image-button {
    background-color: transparent;
    padding: 0;
    cursor: pointer;
    transition: opacity 0.3s;
    border-radius: 20px;
    border: 5px solid #fff;
    box-shadow: 0px 0px 8px 2px #bbbbbb;
    /* max-width: 100%; */
    /* height: auto; */
    margin:10px;
    height: 100%;
    background-size: 100% 100%;
}
  
.image-button:hover {
    opacity: 0.8; /* Apply hover effect */
  }
.image-responsive{
    display: block;
    width: 100% \9;
    max-width: 100%;
    height: auto;
}
.image {
    vertical-align: middle;
    border-radius: 20px;
    height: 200px;
}
#submenu{
   display:flex;
   flex-wrap: wrap;
   /* flex-direction: column; */
   justify-content: center;
}


#banner{
    width:100vw;
}

h3{
    text-align: center;
    color: rgb(88, 87, 87);
    padding: 1em;
}

a{
    text-decoration: none;
}

body {
	background: linear-gradient(90deg, rgba(237, 236, 248, 1) 0%, rgba(215, 215, 250, 1) 69%, rgba(187, 235, 245, 1) 100%);
}

html {
	scroll-padding-top: 4rem;
}

#mainLogo {
	width: auto;
	height: 50px;
}

.navbar {
	background: linear-gradient(90deg, rgba(237, 236, 248, 1) 0%, rgba(235, 215, 250, 1) 69%, rgb(201, 194, 238) 100%);
}


.topnav {

	background: linear-gradient(90deg, rgba(237, 236, 248, 1) 0%, rgba(235, 215, 250, 1) 69%, rgba(197, 187, 245, 1) 100%);
	overflow: hidden;
	position: fixed;
	/* Set the navbar to fixed position */
	top: 0;
	/* Position the navbar at the top of the page */
	width: 90%;
	padding-right: 5%;
	padding-left: 5%;
	height: 10vh;
}

/* Style the links inside the navigation bar */
.topnav a {
	float: right;
	color: #323232;
	text-align: center;
	padding: 19px 16px;
	margin: auto;
	vertical-align: middle;
	text-decoration: none;
	font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
	background-color: #ddd;
	color: black;
}

/* Create a right-aligned (split) link inside the navigation bar */
.logo {
	float: left;
	display: block;
	padding-top: 5px;
}

.picHolder {
	background-image: url(https://img.freepik.com/premium-photo/happy-family-summer-walk_566707-2134.jpg?w=2000);
	background-size: 100%;
	width: 100%;
	padding-top: 62%;
	margin: auto;
}

.info {
	width: 80%;
	margin: auto;
}

.info h2 {
	text-align: center;
}

.info p {
	text-align: center;
}

.cellHolder {
	margin: auto;
	display: table;
	width: 80%;
	/*Optional*/
	table-layout: fixed;
	/*Optional*/
	border-spacing: 10px;
	/*Optional*/
	height: 25vw;
}

.cell {
	display: table-cell;
	width: 100%;
	text-align: center;
	box-shadow: 2px 2px 3px rgba(128, 128, 128, 0.4);
	border-radius: 15px;
	padding: 3px;
}

.cell img {
	border-radius: 15px;

}

.buttonImage {
	height: 100%;
	width: 100%;
	object-fit: cover;
}


