*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Libre Franklin', sans-serif ;
}
h1 {
    font-size: 54px;
    font-weight: 200;
    margin-top: 11px;
    margin-bottom: 40px;
    text-transform: capitalize;
    line-height: 110%;
    display: block;
    margin-left: 30px;
}
.image-button {
    background-color: transparent;
    padding: 0;
    cursor: pointer;
    transition: opacity 0.3s;
    border-radius: 20px;
    border: 5px solid #fff;
    box-shadow: 0px 0px 8px 2px #bbbbbb;
    /* max-width: 100%; */
    /* height: auto; */
    margin:10px;
    height: 100%;
    background-size: 100% 100%;
}
  
.image-button:hover {
    opacity: 0.8; /* Apply hover effect */
  }
.image-responsive{
    display: block;
    width: 100% \9;
    max-width: 100%;
    height: auto;
}
.image {
    vertical-align: middle;
    border-radius: 20px;
    height: 200px;
}
#submenu{
   display:flex;
   flex-wrap: wrap;
   /* flex-direction: column; */
   justify-content: center;
}
/* ul{
    list-style: none;
    display: inline-block;
} */

#banner{
    width:100vw;
}

h3{
    text-align: center;
    color: rgb(88, 87, 87);
    padding: 1em;
}

a{
    text-decoration: none;
}